extends layout

block content
	div.container
		h1 Create Space
		p Crie seu espaço de desenvolvimento
		div#navigation
			hr
			b Namespace
			br
			input#txt-namespace(type='text')
			br
			b Description
			br
			input#txt-description(type='text')
			br
			b Author
			br
			input#txt-author(type='text')
			br
			button.btn.btn-primary.btn-info#bt-create-space Ok
			br
		table.table.table-striped.table-hover#spaces
			thead
				tr
					th Space
					th Description
					th Author
					th Ação
			tbody
				
