extends layout

block content
	div.container
		h1 Create Space	
		div#navigation		
			
			form.form-horizontal(action='#')
				fieldset
					legend Crie seu espaço de desenvolvimento
					div.control-group				
						label.control-label(for="txt-namespace") Namespace
						div.controls
							input#txt-namespace(type='text', placeholder="Namespace")
					div.control-group
						label.control-label(for="txt-description") Description					
						div.controls					
							input#txt-description(type='text', placeholder="Description")
					div.control-group
						label.control-label(for="txt-author") Author					
						div.controls					
							input#txt-author(type='text', placeholder="Author")					
					div.control-group
						div.controls
							button.btn.btn-primary.btn-info#bt-create-space Ok					
		
		table.table.table-striped.table-hover#spaces
			thead
				tr
					th Space
					th Description
					th Author
					th Ação
					
			tbody
		
			#apps.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
				.modal-header					
					button.close(data-dismiss='modal', aria-hidden='true') ×
					h3#myModalLabel Título
				.modal-body					
					#apps-content
				.modal-footer
					button.btn(data-dismiss='modal', aria-hidden='true') Close
					button.btn.btn-primary#bt_ok(data-dismiss='modal', aria-hidden='true') Ok
			script(src='/scripts/snodejs-spaces.js')
